<div class='container'>

<ct-navbar></ct-navbar>

<div class='jumbotron app-window'>

    <h2>English</h2>
    <div class="row">
        <input 
            type="textarea"
            class="form-control"
            [(ngModel)]="translation.english" 
            placeholder="Enter English sentence or word"
        >
        <div
            *ngIf="translation.warning" 
            class="alert alert-warning"
        >
            <strong>Warning!</strong> {{translation.warning}} 
        </div>
    </div>    

    <h2></h2>
    <div class="row">
        <button 
            type="button" 
            class="btn btn-primary btn-lg"
            (click)="clickTranslateToPigLatin()"
        >
            Translate to Pig Latin
        </button>
    </div>    

    <h2>Pig Latin</h2>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                {{translation.pigLatin}}
            </div>
        </div>
    </div>

    <h3>Recent Translations</h3>
    <div class="row">
        <div 
            class="panel panel-default"
            *ngFor="let hist of translateHistory"
        >
            <div class="panel-heading">
                {{hist.english}}
            </div>
            <div class="panel-body">
                {{hist.pigLatin}}
            </div>
        </div>
    </div>

</div>
